* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.Parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  margin: 30px;
}

.Card .Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.Top img {
  height: 38px;
  width: 38px;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 2px;
}

.Top button {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 10px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
  cursor: pointer;
}

.Top button:active {
  scale: 0.95;
}

.Center h3 {
  font-size: 17px;
  font-weight: 500;
}

.Center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.Center h2 {
  font-size: 20px;
}

.Center .Tag {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.Tag h4 {
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 5px;
}

.Bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.Bottom button {
  background-color: #111;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.Bottom button:active {
  scale: 0.95;
}

.Bottom h3 {
  font-size: 17px;
}

.Bottom p {
  font-size: 10px;
  color: #8b8b8b;
}
