@import "tailwindcss";

h1{
    font-size: 100px;
    text-decoration: underline;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
    text-transform: capitalize;
}