* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  font-size: 100px;
  font-weight: bold;
}
