* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card {
  width: 300px;
  border: 1px solid gray;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

p {
  padding: 20px 0;
}

h2 {
  padding-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #fff0f0;
  border: none;
  border-radius: 5px;
  color: #111;
}
