*{
  padding: 0;
  margin: 0;
  background-color: #111;
  color: #fff;
}

input{
  margin: 35px;
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid white;
}

button{
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid white;
}