* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
}

.Card {
  height: 30%;
  width: 50%;
  background-color: rgb(10, 98, 69);
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
}

.nav-bar {
  height: 50px;
  width: 100%;
  background-color: #cf5050;
  color: #111;
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  margin: 10px;
}
