*{
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

button{
   padding: 15px 30px;
   margin: 20px;
   background-color: rgb(182, 187, 192);
   font-size: 20px;
   color: #111;
}

input{
  margin: 10px;
  padding: 15px 30px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 40px;
  font-size: 20px;
}

.page1{
height: 100vh;
width: 97%;
background-color: red;
margin: 20px;
}

.page2{
height: 100vh;
width: 97%;
background-color: rgb(23, 8, 54);
margin: 20px;
}

.page3{
height: 100vh;
width: 97%;
background-color: #2be71a;
margin: 20px;
}